# Copy this file to .env and fill your real values
SYSTEM_WALLET_PRIVATE_KEY=0x5d9922123c854d8f4346f03d095f464781defc33401e2fc776b426ffeaf5aebe
ARC_TESTNET_RPC=https://arc-rpc-url-here   # replace with real ARC testnet RPC
COINMARKETCAP_API_KEY=your_cmc_key_here