.main-container {
  max-width: 480px;
  width: 90%;
  margin: auto;
}

* { margin:0; padding:0; box-sizing:border-box; }
body {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
  height: 100vh;
  overflow: auto;
  position: relative;

  margin: 0;
  overflow-x: hidden;
}

body::before {
  content: none;   /* Removed the logo */
}

.container {
  position: relative;
  z-index: 1;
  max-width: 620px;
  margin: 0 auto;
  padding: 15px;
  min-height: 100vh;
}

h1 { font-size: 2.1rem; text-align: center; margin: 10px 0; }
h2 { font-size: 1.25rem; margin: 12px 0 6px; font-weight: bold; }

.btn {
  background: #FF8800;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn:active {
  transform: scale(1.01);
}

.btn_hide {
  display: none;
  background: #FF8800;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to left, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_green {
  background: #009b00;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#009b00, #009b00) padding-box, /* Inner background color */
    linear-gradient(to right, #009b00, #ffffff) border-box; /* Border gradient */

  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_green:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_green.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_green:active {
  transform: scale(1.01);
}

.btn_red {
  background: #ff0000;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#ff0000, #ff0000) padding-box, /* Inner background color */
    linear-gradient(to left, #ff0000, #ffffff) border-box; /* Border gradient */

  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_red:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_red.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_red:active {
  transform: scale(1.01);
}

.btn_rev {
  background: #FF8800;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to left, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_rev:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_rev.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_rev:active {
  transform: scale(1.01);
}

.btn_op_rev {
background: #FF8800;
  color: rgb(0, 100, 200);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  filter: drop-shadow(1px 1px 2px black, 0 0 1px black, 0 0 1px black);

  padding: 10px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_op_rev:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_op_rev.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_op_rev:active {
  transform: scale(1.01);
}

.btn_op_rev2 {
background: #FF8800;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  filter: drop-shadow(1px 1px 2px black, 0 0 1px black, 0 0 1px black);

  padding: 15px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_op_rev2:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_op_rev2.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_op_rev2:active {
  transform: scale(1.01);
}

.txtxt {
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);
}

.btn_smol_ns {
  background: #FF8800;
  color: rgb(255, 255, 255);
  /*
  text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */
  /* border: none; */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 6px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  /* width: 100%; */
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_smol_ns:hover {box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_smol_ns.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_smol_ns:active {
  transform: scale(1.01);
}

.btn_smol {
  background: #FF8800;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */
  /* border: none; */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 6px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  /* width: 100%; */
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_smol:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_smol.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_smol:active {
  transform: scale(1.01);
}

.btn_smol_M {
  background: #FF8800;
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */
  /* border: none; */

  border: 3px solid transparent;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 6px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  text-transform: none;
  cursor: pointer;
  /* width: 100%; */
  margin: 8px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  width: 64px;                /* Define only one dimension */
  aspect-ratio: 1 / 1;        /* Forces a perfect 1:1 square */
  border-radius: 50%;         /* Morphs the square into a circle */
  
  display: grid;              /* Centers content (text or icon) */
  place-items: center;        /* Perfect vertical and horizontal alignment */
              
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn_smol_M:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.btn_smol_M.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn_smol_M:active {
  transform: translateX(-50%) scale(1.01);
}

.leaderboard-center-btn {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #00c0707c 51%, #314755 100%);
}

.option-btn {
  background: white;
  color: rgb(0, 100, 200);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#ffffff, #ffffff) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  padding: 10px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn.active {
  background: #FF8800;

  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */
    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.option-btn.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}

.option-btn-circle {
  
  background: white;
  color: rgb(0, 100, 200);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#ffffff, #ffffff) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  filter: drop-shadow(1px 1px 2px black, 0 0 1px black, 0 0 1px black);

  padding: 10px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle.active {
  background: #FF8800;

  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */
    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.option-btn-circle.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}

.option-btn-circle-unsupported {
  
  background: white;
  color: rgb(0, 100, 200);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#000000, #000000) padding-box, /* Inner background color */
    linear-gradient(to right, #ffffff, #000000) border-box; /* Border gradient */

  filter: drop-shadow(1px 1px 2px black, 0 0 1px black, 0 0 1px black);

  padding: 10px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle-unsupported.active {
  background: #000000;

  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#000000, #000000) padding-box, /* Inner background color */
    linear-gradient(to right, #000000, #ffffff) border-box; /* Border gradient */
    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle-unsupported:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.option-btn-circle-unsupported.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}

.option-btn-circle2 {
  
  background: white;
  color: rgb(0, 100, 200);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  font-size:2.4rem;
  
  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#ffffff, #ffffff) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  filter: drop-shadow(1px 1px 2px black, 0 0 1px black, 0 0 1px black);

  padding: 10px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle2.active {
  background: #FF8800;

  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  border: 3px solid transparent;
  border-radius: 3px;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */
    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle2:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.option-btn-circle2.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}

.option-btn-circle-tenanan {
  
  background: white;
  color: rgb(0, 100, 200);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  width: 64px;                /* Define only one dimension */
  aspect-ratio: 1 / 1;        /* Forces a perfect 1:1 square */
  border-radius: 50%;         /* Morphs the square into a circle */
  
  display: grid;              /* Centers content (text or icon) */
  place-items: center;        /* Perfect vertical and horizontal alignment */

  font-size:2.4rem;
  
  border: 3px solid transparent;
  background: 
    linear-gradient(#ffffff, #ffffff) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  filter: drop-shadow(1px 1px 2px black, 0 0 1px black, 0 0 1px black);

  padding: 10px 12px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  min-width: 64px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle-tenanan.active {
  background: #FF8800;

  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  */

  width: 64px;                /* Define only one dimension */
  aspect-ratio: 1 / 1;        /* Forces a perfect 1:1 square */
  border-radius: 50%;         /* Morphs the square into a circle */
  
  display: grid;              /* Centers content (text or icon) */
  place-items: center;        /* Perfect vertical and horizontal alignment */

  border: 3px solid transparent;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */
    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.option-btn-circle-tenanan:hover {text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);}
.option-btn-circle-tenanan.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}

.option-btn_old {
  background: white;
  border: 3px solid #FF8800;
  padding: 10px 12px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  flex: 1;
  min-width: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.option-btn_old.active {
  background: #FF8800;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Rounded Select */
select.rounded-select {
  padding: 14px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 9999px;           /* Fully rounded (pill shape) */

  border: 3px solid transparent;
  background: 
    linear-gradient(#FF8800, #FF8800) padding-box, /* Inner background color */
    linear-gradient(to right, #FF8800, #ffffff) border-box; /* Border gradient */

  background: rgb(0, 100, 200);
  color: rgb(255, 255, 255);;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 320px;
  appearance: none;                /* Remove default browser arrow */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

select.rounded-select:hover {
  /* border-color: #1E40AF; */
  text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); box-shadow: 0 8px 16px 0 rgba(0, 255, 255, 0.6);
}

.readonly {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);
}

.readonly2 {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 1.1rem;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);
}

.readonly2X {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 1.1rem;
  text-align: right;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);
}

.readonly3 {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 1.3rem;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);
}

.readonly3smaller {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 0.9rem;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(255, 0, 0);
}

.readonly33 {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 1.3rem;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);
}

.inputan {
  background: rgb(255, 255, 255); /*rgba(0, 0, 0, 0.6); #f8f8f8;*/
  border: 2px solid rgb(0, 100, 200);
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 9999px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  background: 
    linear-gradient(#ffffff, #ffffff) padding-box, /* Inner background color */
    linear-gradient(to right, rgb(0, 100, 200), rgb(0, 100, 200)) border-box; /* Border gradient */

  color: rgb(0, 100, 200);

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.inputan_readonly {
  background: rgb(255, 255, 255); /*rgba(0, 0, 0, 0.6); #f8f8f8;*/
  border: 2px solid rgb(0, 100, 200);
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 9999px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  background: 
    linear-gradient(#ffffff, #ffffff) padding-box, /* Inner background color */
    linear-gradient(to right, rgb(0, 100, 200), rgb(0, 100, 200)) border-box; /* Border gradient */

  color: rgb(0, 100, 200);

/* Make it completely non-interactive */
  /* pointer-events: none;           /* Disable all mouse events */
  user-select: none;              /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;                /* Show normal cursor */
  outline: none;                  /* Remove focus outline */

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.readonly_txt {
  background: rgb(0, 100, 200); /*rgba(0, 0, 0, 0.6); #f8f8f8;*/
  border: 2px solid rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 9999px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black; */
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  background: 
    linear-gradient(rgb(0, 100, 200), rgb(0, 100, 200)) padding-box, /* Inner background color */
    linear-gradient(to right, #ffffff, #ffffff) border-box; /* Border gradient */

  color: rgb(255, 255, 255);

/* Make it completely non-interactive */
  pointer-events: none;           /* Disable all mouse events */
  user-select: none;              /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;                /* Show normal cursor */
  outline: none;                  /* Remove focus outline */

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.readonly_txt2 {
  background: transparent; /*#f8f8f8;*/
  border: none; /*2px solid #ddd*/
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(0, 100, 200);

/* Make it completely non-interactive */
  pointer-events: none;           /* Disable all mouse events */
  user-select: none;              /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;                /* Show normal cursor */
  outline: none;                  /* Remove focus outline */
}
.readonly_txt22 {
  background: rgb(0, 100, 200);
  border: 2px solid #ffffff;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0px;
  /* text-shadow: 1px 1px 2px black, 0 0 1px black; */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  color: rgb(255, 255, 255);

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

/* Make it completely non-interactive */
  pointer-events: none;           /* Disable all mouse events */
  user-select: none;              /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;                /* Show normal cursor */
  outline: none;                  /* Remove focus outline */
}

.flex-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row2 {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn, .btn-grad, .option-btn, .option-btn.active, .btn_rev, .btn_op_rev, .btn_op_rev2, .btn_smol, .btn_smol_ns, .btn_green, .btn_red {
  border-radius: 9999px;   /* Fully rounded */
}

.option-btn-circle, .option-btn-circle.active, .option-btn-circle2, .option-btn-circle2.active, .option-btn-circle-unsupported, .option-btn-circle-unsupported.active {
  border-radius: 9999px;   /* Fully rounded */
}

input[type="text"] {
  border-radius: 9999px !important;
}

input[readonly_txt] {
  pointer-events: none !important;
  user-select: none !important;
  cursor: default !important;
  border-radius: 9999px !important;
}
input[readonly_txt2] {
  pointer-events: none !important;
  user-select: none !important;
  cursor: default !important;
}

@media (max-width: 768px) {
  .readonly {
    font-size: 16px;
  }
  .readonly2 {
    font-size: 16px;
  }
  .readonly2X {
    font-size: 16px;
  }  
  .readonly {
    font-size: 16px;
  }
  .readonly3 {
    font-size: 16px;
  }
  .readonly3smaller {
    font-size: 11px;
  }
  .readonly_txt {
    font-size: 16px;
  }
  .readonly_txt2 {
    font-size: 16px;
  }
  .readonly_txt22 {
    font-size: 16px;
  }

  .txtxt {
    font-size: 16px;
  }

  .flex-row {
    flex-direction: column;
  }
  .flex-row2 {
    flex-direction: column;
  }
}



#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 999999;

  color: white;
  font-size: 20px;
}

.loader {
  width: 50px;
  height: 50px;

  border: 5px solid #ffffff33;
  border-top: 5px solid white;
  border-radius: 50%;

  animation: spin 1s linear infinite;

  margin-bottom: 15px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

#loadingScreen img {
  animation: bounce 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate; 
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1.1, 0.95); /* Squish at the bottom */
  }
  100% {
    transform: translateY(-30px) scale(1, 1); /* Apex of the jump */
  }
}
